.ContainerTitle {
    color: white;
    width: max-content;
    padding-left: 20px;
    //padding-inline: 20px;
}

.MusicDayContainer {
    width: 100%;
}

.ContainerImage {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.ContainerButton {

    $transparent: rgba(#000000, $alpha: 0.0);

    $width_height: 220px;

    width: $width_height;
    height: $width_height;
    background-color: $transparent;
    border-style: solid;
    border-color: $transparent;
    cursor: pointer;
}

.Containers {
    display: flex;
    padding-inline: 10px;
    overflow-x: scroll;
    flex-direction: row;
    width: 100%;
}

.ContainerInfo{
    $padding_all: 7px;
    $padding_top: 0;

    padding: $padding_all;
    padding-top: $padding_top;
}

.trackInfo{
    text-align: center;
    color: white;
    font-size: 13px;
    &.link{
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }
}

.allContainers{
    padding-right: 24px;
}