html,
body {
    height: 100%;
    overflow: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 60px;
    /*background: linear-gradient(#45A7DE, #000) fixed;*/
}

.allPanels {
    display: flex;
    flex-direction: row;
}

.HelperPanels {
    width: max-content;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}

.MainPanels {
    width: 100%;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}

.main-backdrop {
    background-color: #333333;
    border-radius: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cont {
    height: max-content;
    max-width: 100vh;
    min-width: 100%;
    /* min-width: 100vh;
    max-width: 100%; */
    /* overflow-y: scroll; */
}