//add-pl -> <div> который просто должен хранить в себе фон цвета #333 и border-radius: 15px. Должен высвечиваться также как и "интерактивное меню"
//add-pl pl-title -> подкласс add-pl, в котором хранится название открытой меню: "добавить в плейлист". Должен находится в центре. Также нужно подкорректировать размер текста.
//add-pl pl-info but-pl -> подкласс add-pl и pl-info для отображения плейлиста в виде кнопок. Название плейлиста должно отображаться сверху вниз по середине(важно чтобы оно смотрелось хорошо при 64 символах названия и описания).
//add-pl pl-info pl-title -> подкласс add-pl и pl-info для отображения названия и описания плейлистов. Используется тэг <h2>.
//add-pl pl-info no-pl -> подкласс add-pl и pl-info для отображения текста об отсутствии плейлистов у пользователя. Должен находиться посередине.

.add-pl {
    overflow: hidden;
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    position: fixed;
    height: 269px;
    width: 30%;
    max-width: 329px;
    min-width: 250px;
    border-radius: 15px;
    z-index: 1000;
    background-color: #333;
    border-style: none;
    color: #fff;
    box-shadow: 0px 0px 12px black;
    transition: opacity 0.1s;
    

    

    &.showed {
        opacity: 1;
        pointer-events: auto;
    }

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.pl-title {
    margin-bottom: 15px;

    & h2 {
        margin: 25px;
    }

    font-size: 13px;
    color: #fff;
    text-align: center;

    border: none;
    border-bottom: 1px solid #fff;
    border-image: radial-gradient(#fff, rgba($color: #fff, $alpha: 0.0)) 1;
    border-width: 3px;

}

.but-pl {
    width: 320px;
    position: relative;
    border-style: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.0);
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: rgba($color: #fff, $alpha: 0.1);
    }
}

.but-pl:hover {
    outline: 2px solid rgba($color: #fff, $alpha: 0.1);
}

.pl-text {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 10px;
    color: #fff;

}

.no-pl {
    padding: 35px;
    justify-content: center;
    font-size: 15px;
    color: #fff;
    text-align: center;
}


.pl-info {
    overflow-y: scroll;
    z-index: 1000;
    
    &::-webkit-scrollbar {
        width: 10px;
        /* Ширина скроллбара */
    }
    
    &::-webkit-scrollbar-track {
        border-radius: 15px;
        background: rgba($color: #000000, $alpha: 0);
        /* Цвет фона */
    }
    
    &::-webkit-scrollbar-thumb {
        background: #FFFFFF;
        border-radius: 15px;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: #FFFFFF;
        /* Цвет фона */
    }
}