.lib {
    &.backdrop {
        background-color: #333;
        width: max-content;
        border-radius: 15px;
        margin-top: 15px;
    }

    &.content {
        padding: 20px;
        padding-bottom: 42px;
    }
}

.library-text{
    &.title{
        margin: 0;
        width: max-content;
    }
}