.lib {
    height: 150px;

    border: 1px;

    &.backdrop {
        //background-color: #333;
        width: auto;
        border-radius: 15px;
        margin-top: 7px;        
    }

    &.content {
        padding: 20px;
        padding-top: 5px;
        //overflow-y: scroll;

        //Сам код от скрола
        height: 150px;
        border: 1px;
        height: 80%;
    }

    &.title {
        width: auto;
        height: auto;
        padding-block: 25px;
    }
}


.library-text {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: white;
    
}

@keyframes show {
    0% {
        background: rgba($color: #ffffff, $alpha: 0.0);
    }

    100% {
        background: rgba($color: #ffffff, $alpha: 0.3);
    }
}

.playlist {
    &.backdrop {
        display: flex;
        width: 100%;
        flex-direction: column;
        overflow-y: scroll;
        height: 100%;
        @media screen and (max-height: 730px){
            &.backdrop{
            height: 30%; //ну или же поставить на 70%, но есть проблемма в виде 
            
            
                
            }
            
        }
    }

    &.button {
        $text-margin-left: 10px;

        text-align: left;
        width: 90%;
        background: rgba($color: #ffffff, $alpha: 0.0);
        border-style: none;
        padding-block: 6px;
        cursor: pointer;
        border-radius: 13px;
        
        //transition: hover 0,3s;

        & h1 {
            font-size: 15px;
            margin-block: 0;
            color: white;
            margin-left: $text-margin-left;
        }

        & h2 {
            font-size: 13px;
            color: #D9D9D9;
            margin-block: 3px;
            margin-left: $text-margin-left;
        }

        &:hover {
            background: rgba($color: #ffffff, $alpha: 0.3);
            animation: show .3s;
        }

        &.button-active{
            background: rgba($color: #ffffff, $alpha: 0.3);
            
        }

        // &:not(:hover){
        //     animation: show .5s reverse;
        // }
    }
}