.lib {
    height: 150px;

    border: 1px;

    &.backdrop {
        background-color: #333;
        width: auto;
        border-radius: 15px;
        margin-top: 7px;

        //Добавил сюда стили от скролла, тк если ставить их в другие части, то почему то, ставяться настройки с другого раздела, крч я не ебу, но так воркает ;)
        ::-webkit-scrollbar {
            width: 10px;
            /* Ширина скроллбара */
        }

        ::-webkit-scrollbar-track {
            background: #333;
            /* Цвет фона */
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background: #FFFFFF;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #FFFFFF;
            /* Цвет фона */
        }

    }

    &.content {
        padding: 20px;
        padding-top: 5px;
        //overflow-y: scroll;

        //Сам код от скрола
        height: 150px;
        border: 1px;
        height: 80%;
    }

    &.title {
        width: auto;
        height: auto;
        padding-block: 25px;
    }
}


.library-text {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: white;
}

@keyframes show {
    0% {
        background: rgba($color: #ffffff, $alpha: 0.0);
    }

    100% {
        background: rgba($color: #ffffff, $alpha: 0.3);
    }
}

.playlist {
    &.backdrop {
        display: flex;
        width: 100%;
        flex-direction: column;
        overflow-y: scroll;
        height: 100%;
    }

    &.button {
        text-align: left;
        width: 100%;
        background: rgba($color: #ffffff, $alpha: 0.0);
        border-style: none;
        padding-block: 6px;
        cursor: pointer;
        border-radius: 13px;
        //transition: hover 0,3s;

        & h1 {
            font-size: 15px;
            margin-block: 0;
            color: white;
        }

        & h2 {
            font-size: 13px;
            color: #D9D9D9;
            margin-block: 3px;
        }

        &:hover {
            background: rgba($color: #ffffff, $alpha: 0.3);
            animation: show .3s;
        }

        // &:not(:hover){
        //     animation: show .5s reverse;
        // }
    }
}