html, body {
    height: 100%;
    overflow: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 60px;
    background: linear-gradient(#45A7DE, #000) fixed;
}