$custom-main-color: rgba($color: #000000, $alpha: 0.0);

$custom-background-color: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);

$custom-selection-color: #23d5ab;

$custom-main-panel-button-pressed: rgba($color: #ffffff, $alpha: 0.3);

$custom-main-panel-button-navigate: rgba($color: #000000, $alpha: 0.2);

$custom-404-link-button: #FFF;

$custom-blur-panels: 30px;

$custom-profile-main-button-panel-text-disable: #646464;

body{
    //background: $custom-background-color;
    background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.buttons{
	&.pressed{
		:hover{
			background-color: $custom-main-panel-button-navigate;
		}
	}

	&.unpressed{
		transition: background-color 0.2s ease;
		background-color: $custom-main-panel-button-pressed;
	}
}
