$main-color: #1B1818; //Цвет основных компонентов (по умолчанию: #1B1818)

$login-page-bg-color: $main-color; //Цвет компонента страницы логина, регистрации и восстановления аккаунта
$home-panel-bg-color: $main-color; //Цвет основного компонента страницы
$library-panel-bg-color: $main-color; //Цвет компонента списка плейлистов
$search-panel-bg-color: $main-color; //Цвет поискового компонента
$main-panel-bg-color: $main-color; //Цвет компонента контента
$player-panel-bg-color: $main-color; //Цвет компонента плеера
$add-to-playlist-panel-bg-color: $main-color; //Цвет компонента добавления трека в плейлист

//Класс поискового компонента
.upper_panel {
    background-color: $search-panel-bg-color;
}

//Класс компонента контента
.main-backdrop {
    background-color: $main-panel-bg-color;
}

//Класс основного компонента страницы
.backdrop {
    background-color: $home-panel-bg-color;
}

//Класс компонента списка плейлистов
.lib {
    &.backdrop {
        background-color: $library-panel-bg-color;
    }
}

//Класс компонента плеера
.playerContainer {
    background-color: $player-panel-bg-color;
}

.add-pl{
    background-color: $add-to-playlist-panel-bg-color;
}

$selection-color: #7800d4; //Цвет выделения текста (по умолчанию: #7800d4)

//Стили выделения текста
::selection {
    background-color: $selection-color;
}

::-moz-selection {
    background-color: $selection-color;
}

$scrollbar-track-background: rgba($color: #000000, $alpha: 0); //Цвет трека скроллбара (по умолчанию: rgba($color: #000000, $alpha: 0))
$scrollbar-thumb-background: #FFFFFF; //Цвет ползунка скроллбара (по умолчанию: #FFFFFF)
$scrollbar-width-height: 8px; //Ширина и высота скроллбара (по умолчанию: 10px)
$scrollbar-thumb-border-radius: 15px; //border-radius ползунка скроллбара (по умолчанию: 15px)

//Стили ползунков
::-webkit-scrollbar {
    width: $scrollbar-width-height;
    height: $scrollbar-width-height;
}

::-webkit-scrollbar-track {
    border-radius: $scrollbar-thumb-border-radius;
    background: $scrollbar-track-background;
}

::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border-radius: $scrollbar-thumb-border-radius;
}

::-webkit-scrollbar-thumb:hover {
    background: #FFFFFF;
}

.allPanels {
    display: flex;
    flex-direction: row;
}