.playerContainer {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    //background-color: #333;
    color: white;
    text-align: center;
    //padding: 10px 0;
    margin: 7px;
    border-radius: 15px;
    padding-inline: 10px;
    z-index: 1000;
}

.playerPillar {
    // height: 100%;
    // width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: relative;
}

.componentPosition {
    $left-right-position: 1;
    $center-position: 2;
    display: flex;

    &.left {
        flex: $left-right-position;
        justify-content: flex-start;
    }

    &.right {
        flex: $left-right-position;
        justify-content: flex-end;
    }

    &.middle {
        flex: $center-position;
        flex-direction: column;
        align-items: center;
        height: 67px;
    }
}

.playerButton {

    $wh-play : 50px;
    $wh-loop: 30px;
    $wh-like: 40px;
    $wh-mix: 20px;

    background-color: rgba($color: #000000, $alpha: 0.0);
    border: none;
    cursor: pointer;

    &.play-pause {
        width: $wh-play;
        height: $wh-play;
    }

    &.loop {
        width: $wh-loop;
        height: $wh-loop;
    }

    &.like {
        width: $wh-like;
        height: $wh-like;
        transition: all 0.3s;
    }

    &.add-to-playlist {
        width: $wh-play;
        height: auto;
    }

    &.volume {
        width: $wh-loop;
        height: $wh-loop;
    }

    &.text {
        width: $wh-mix;
        height: $wh-loop;
    }
}

.playerTime {
    $player-width: 80%;

    &.line {
        width: $player-width;
    }

    &.info {
        width: $player-width;
        position: relative;
    }
}

.time {
    $text-pos: 0px;

    position: absolute;
    bottom: 0px;
    font-size: 13px;

    &.left {
        left: $text-pos;
    }

    &.right {
        right: $text-pos;
    }

}

.volumeRange[type='range'] {
    //Размеры ползунка и трека
    $vol-thumb-size: 10px;
    $vol-track-height: 2px;

    $vol-thumb-color: #700FEB;
    $vol-track-color: #fff;
    $vol-track-thumb-disabled: rgba(#000000, $alpha: 0.0);

    background: transparent;
    width: 85px;

    transition: opacity 0.3s;

    appearance: none;
    -webkit-appearance: none;

    // Стилизация ползунка
    &::-webkit-slider-thumb {
        appearance: none;
        -webkit-appearance: none;
        width: calc($vol-thumb-size * 1.7);
        height: calc($vol-thumb-size * 1.7);
        border-radius: 50%;
        background: $vol-thumb-color;
        color: $vol-thumb-color;
        border-radius: 10px;
        border: 3px white solid; //background: #700FEB; border-radius: 9999px; border: 3px white solid
        cursor: pointer;
        margin: -7px;
        padding: 0;
    }

    &::-moz-range-thumb {
        width: $vol-thumb-size;
        height: $vol-thumb-size;
        border-radius: 50%;
        background: $vol-thumb-color;
        color: $vol-thumb-color;
        border: 3px white solid;
        cursor: pointer;
    }

    &::-ms-thumb {
        width: $vol-thumb-size;
        height: $vol-thumb-size;
        border-radius: 50%;
        background: $vol-thumb-color;
        color: $vol-thumb-color;
        border: 3px white solid;
        cursor: pointer;
    }

    // Стилизация трека
    &::-webkit-slider-runnable-track {
        appearance: none;
        -webkit-appearance: none;
        width: 100%;
        height: $vol-track-height;
        background: $vol-track-color;
        color: $vol-track-color;
        border-radius: calc($vol-track-height / 2);
    }

    &::-moz-range-track {
        width: 100%;
        height: $vol-track-height;
        background: $vol-track-color;
        color: $vol-track-color;
        border-radius: calc($vol-track-height / 2);
    }

    &::-ms-track {
        width: 100%;
        height: $vol-track-height;
        background: $vol-track-color;
        color: $vol-track-color;
        border-radius: calc($vol-track-height / 2);
    }

    &.enable {
        // Стили для видимого состояния
        opacity: 1;
        pointer-events: auto;
    }

    &.disable {
        // Стили для невидимого состояния
        opacity: 0;
        pointer-events: none;
    }
}

.playerRange[type='range'] {
    // Размеры ползунка и трека
    $thumb-size: 7px;
    $track-height: 4px;

    $thumb-color: #a6a6a6;
    $track-color: #fff;
    $track-thumb-disabled: rgba(#000000, $alpha: 0.0);

    background: transparent;
    width: 100%;
    border: none; // Убираем стандартные бордюры

    appearance: none;
    -webkit-appearance: none;

    // Стилизация ползунка
    &::-webkit-slider-thumb {
        appearance: none;
        -webkit-appearance: none;
        width: calc($thumb-size * 1.3);
        height: calc($thumb-size * 1.3);
        border-radius: 50%;
        background: $thumb-color;
        cursor: pointer;
        border: none;
        margin: -2px;
    }

    &::-moz-range-thumb {
        width: $thumb-size;
        height: $thumb-size;
        border-radius: 50%;
        background: $thumb-color;
        color: $thumb-color;
        cursor: pointer;
        border: none; // Убираем стандартные бордюры
    }

    &::-ms-thumb {
        width: $thumb-size;
        height: $thumb-size;
        border-radius: 50%;
        background: $thumb-color;
        color: $thumb-color;
        cursor: pointer;
        border: none; // Убираем стандартные бордюры
    }

    // Стилизация трека
    // &::-webkit-slider-runnable-track {
    //     -webkit-appearance: none;
    //     width: 100%;
    //     height: $track-height;
    //     background: $track-color;
    //     border-radius: calc($track-height / 2);
    //     cursor: pointer;
    // }

    &::-webkit-slider-runnable-track {
        appearance: none;
        -webkit-appearance: none;
        width: 100%;
        height: $track-height;
        background: $track-color;
        color: $track-color;
        border-radius: calc($track-height / 2);
        cursor: pointer;
    }

    &::-moz-range-track {
        width: 100%;
        height: $track-height;
        background: $track-color;
        color: $track-color;
        border-radius: calc($track-height / 2);
        cursor: pointer;
    }

    &::-ms-track {
        width: 100%;
        height: $track-height;
        background: $track-color;
        color: $track-color;
        border-radius: calc($track-height / 2);
        cursor: pointer;
        border: none; // Убираем стандартные бордюры
    }

    &:focus {
        outline: none; // Убираем стандартный фокус
    }

    &.enable {
        // Стили для видимого состояния
        opacity: 1;
        pointer-events: auto;
    }

    &.disable {
        // Стили для невидимого состояния
        opacity: 0;
        pointer-events: none;
    }
}